.header {
   text-align: center;
   margin: auto;
}

.cont-img {
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: skyblue;
    background-size: contain;
    background-image: url(../img/pattern.png);
} 

.booleaner {
    text-decoration: none;
    color: blue;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}


.main-section {
    width: 1300px;
    margin: auto;
    margin-top: 10px;
}

.logo {
    width: 200px;
    margin: 10px;
}

.inserzioni {
    color: gray;
}

span {
    background-color: yellow;
}

td {
    min-width: 200px;
}

.background-table {
    background-color: aqua;
    border-spacing: 0;
}

.background-thead {
    background-color: blue;
    color: white;
}

.background-tr {
    background-color: white;
}

.center-items {
    text-align: center;
}








